{#
/**
 * @file
 * Default theme implementation of a madlib.
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
<div id="madlibs">
  <p>
    Come for the software, stay for the community <br />
    Drupal is an open source content management <span rel="madlib" type="noun" desc="Thing you stand on">platform</span>
    powering millions of <span rel="madlib" type="noun" desc="Things found on the internet">websites</span>
    and <span rel="madlib" type="noun" desc="Plural noun">applications</span>.
    It's built, <span rel="madlib" type="verb" desc="A verb, past-tense">used</span>,
    and supported by a(n) <span rel="madlib" type="adjective" desc="Adjective">active</span>
    and <span rel="madlib" type="adjective" desc="Adjective">diverse</span> community of
    <span rel="madlib" type="noun" desc="A kind of animal, plural">people</span> around the world.
  </p>
</div>
{% endspaceless %}
